.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Dialog */
.dialog__wrapper {
  background-color: var(--color-white);
  position: relative;
  padding: 16px 24px;
  border-radius: 4px;
}
.dialog__wrapper .icon__wrapper {
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  justify-content: center;
}
.dialog__title h3 {
  font-size: 24px;
}
.dialog__content {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin: 24px 0;
}
.dialog__content p {
  width: 80%;
  line-height: 18px;
}
.dialog__footer {
  width: 100%;
}
.dialog__footer button {
  display: block;
  margin: 16px auto 0;
  padding: 8px 24px;
  border-radius: 4px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border-radius: 4px;
  min-width: 900px;
  max-width: 900px;
  width: 65%;
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.popup__header-left {
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.popup__action {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 12px;
  align-items: center;
}

.popup__title {
  font-size: 20px;
  font-weight: 700;
}

.popup__content {
  padding: 0 24px 24px 24px;
}

.popup__group-full {
  display: flex;
  flex-direction: column;
}

.popup__button {
  display: flex;
  background-color: #f5f5f5;
  padding: 12px 24px 12px 24px;
  justify-content: space-between;
}

.popup__button .btn + .btn {
  margin-left: 8px;
}

/* .popup__button-left {
  padding-left: 24px;
} */

.form__group .input + .input {
  margin-top: 24px;
}

.form__group .input:nth-child(1),
.form__group .input:nth-child(2) {
  margin: 0px;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
